<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content="noindex,nofollow" />
<!--
<link rel="icon" href="画像URL" sizes="16x16" type="image/png" />
<link rel="icon" href="画像URL" sizes="32x32" type="image/png" />
<link rel="icon" href="画像URL" sizes="48x48" type="image/png" />
<link rel="icon" href="画像URL" sizes="62x62" type="image/png" />
<link rel="apple-touch-icon-precomposed" href="画像のURL" />
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

<link rel="stylesheet" href="/views/assets/styles/snap.css">
<link rel="stylesheet" href="/views/assets/styles/basic.css">
<link rel="stylesheet" href="/views/assets/styles/header.css">
<link rel="stylesheet" href="/views/assets/styles/footer.css">

